<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <meta name="author" content="Codecool" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <title>Codecool Shop</title>

  <!-- Bootstrap components -->
  <!-- Latest compiled and minified Jquery -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"
          integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

  <!--Latest compiled and minified Popper -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
          integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
          integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

  <!-- Latest compiled and minified CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <!-- End of Bootstrap components -->


  <link rel="stylesheet" type="text/css" href="/static/css/custom.css" />
</head>

<body>

<header th:replace="header.html :: header"></header>

<div class="container">
  <h2>Payment method: </h2>
  <div class="flex-column p-2" role="group">
<!--    <form method="get">-->

<!--      <div th:each="payMethod,iterStat : ${paymentMethods}" class="form-check mb-2">-->
<!--        <input class="form-check-input" type="radio" name="method" id="exampleRadios1" th:id="${payMethod.getUrlString()}" th:value="${payMethod.getUrlString()}">-->
<!--        <label class="form-check-label" for="exampleRadios1"-->
<!--               th:text="${payMethod.friendlyName}"-->
<!--               th:attr="for=${payMethod.getUrlString()}">-->
<!--          Default radio-->
<!--        </label>-->
<!--      </div>-->
<!--      <button type="submit" id="payment-submit" class="btn btn-primary mt-2">-->
<!--        Continue-->
<!--      </button>-->
<!--    </form>-->
    <h1>Transfer</h1>

  </div>
</div>

</body>
</html>